.container {
  display: inline-flex;
  max-width: 90%;
  /* justify-content: left; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2px 16px;
  background-color: rgb(75, 113, 170);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card {
  /* display: flex; */
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 225px;
  border: solid white 5px;
  padding: 50px;
  max-width: 35%;
  background-color: gray;
  justify-content: center;
}
img {
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  height: 200px;
}
.navbar {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

link {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px 20px 20px 20px;
}

delete-button {
  background-color: red;
  color: white;
}
form-row {
  display: flex;
  padding: "10px";
  margin: "20px";
  background-color: red;
}

button {
  background-color: red;
  color: white;
}
