play {
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 13rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 20px;
  padding: 20px 20px 20px 20px;
}

delete-button {
  background-color: red;
}
form-row {
  display: flex;
  padding: "10px";
  margin: "20px";
  background-color: red;
}

button {
  background-color: dodgerblue;
}
